/*本waybar配置基于Bilibili@夜未央-天将亮(https://space.bilibili.com/517516711?spm_id_from=333.1387.follow.user_card.click)
原waybar配置：https://github.com/cap153/config/tree/main/niri/.config/waybar*/
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:Sarasa Mono SC, JetBrainsMono Nerd Font;
    font-size: 20px;
}

#taskbar button {
    color: #ebdbb2;           
    border-radius: 0px;      
    transition: all 0.3s ease; /* 让颜色切换更丝滑 */
     padding: 0 10px;  
}

#taskbar button:hover {
    background-color: rgba(49, 50, 68, 0.6);
}

#taskbar button.active {
    background-color: rgba(91, 98, 62, 0.5);
}

#taskbar button.active:hover {
    background-color: rgba(91, 98, 62, 0.5);
}

window#waybar {
    background: rgba(40, 40, 40, 0.5);
    border-bottom: 0px solid rgba(100, 114, 125, 0.0);
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #282828;
}

window#waybar.chromium {
    background-color: #282828;
    border: none;
}

#workspaces button {
    padding: 0 8px;
    color: #ebdbb2;
    border: none;
    border-radius: 0;
}

#window {
	    color: #ebdbb2;  /* 设置为你想要的颜色，例如白色 */
	    }

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: rgba(49, 50, 68, 0.8);
}

#workspaces button.focused {
    background-color: 	#5b623e;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 5px;
    color: #ebdbb2;
}

#window,
#workspaces {
    margin: 0 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}



/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#backlight {
    background-color: transparent;
}

#wireplumber {
   background-color: transparent;
   	
}

#network.disconnected {
    background-color: #f53c3c;
}


#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
     color: #ebdbb2;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
